header {
    background: linear-gradient(135deg, #356892, #314e6b);
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  .logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
  }
  .logo a {
    color: white;
    text-decoration: none;
  }

  nav {
    display: flex;
    align-items: center;
  }

  nav a {
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  nav a:hover {
    color: #ffd54f;
  }
  nav button {
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    background: none;
    border: none;
    cursor: pointer;
  }
