<div class="legal-container">
    <div class="legal-header">
        <h1 class="legal-title">Privacy Policy</h1>
        <p class="legal-subtitle">This Privacy Policy outlines how Music License Checker collects, uses, and protects your information when you use the tool. By using our service, you agree to the collection and use of information under this policy. </p>
    </div>

    <div class="legal-content">
        <div class="legal-section">
            <h2 class="section-title">Information We Collect</h2>
            <p>We collect the following types of information:</p>
            <div class="section-content">
                <ul>
                    <li><strong>YouTube Links or Music Titles: </strong>These are used to identify the music and run copyright checks. No personal data is attached to these submissions unless you provide it voluntarily.</li>
                    <li><strong>Usage Data: </strong>Our servers automatically collect log data, which may include but is not limited to information such as your IP address, browser type, and timestamps. This information helps us improve our services.</li>
                    <li><strong>Cookies: </strong>Our website uses cookies to improve user experience. Cookies are small files stored on your device that help us analyze web traffic and improve our services. You can choose to accept or decline cookies through your browser settings.</li>
                </ul>
            </div>
        </div>

        <div class="legal-section">
            <h2 class="section-title">How We Use Your Information</h2>
            <p>We may use the collected information for various purposes, including:</p>
            <div class="section-content">
                <ul>
                    <li>To analyze the music title or YouTube link for any potential copyright issues.</li>
                    <li>To notify you about changes to our service.</li>
                    <li>To allow you to participate in interactive features when you choose to do so.</li>
                    <li>To provide customer support.</li>
                    <li>To improve our service and improve user experience based on data.</li>
                    <li>To monitor the usage of our service.</li>
                </ul>
            </div>
        </div>

        <div class="legal-section">
            <h2 class="section-title">Data Sharing and Disclosure</h2>
            <p>We do not sell or rent your personal information to third parties. We may share your information in the following circumstances:</p>
            <div class="section-content">
                <ul>
                    <li><strong>Service Providers: </strong>We may employ third-party companies and individuals to perform service-related tasks or assist us in analyzing how our service is used. These third parties have access to your personal data only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.</li>
                    <li><strong>Legal Requirements: </strong>We may disclose your personal data in the good faith belief that such action is necessary to:
                    <ul>
                        <li>
                            Comply with a legal obligation
                        </li>
                        <li>
                            Prevent or investigate possible wrongdoing in connection with the service.
                        </li>
                        <li>
                            Protect the personal safety of users of the service or the public.
                        </li>
                    </ul>
                    </li>
                    
                </ul>
            </div>
        </div>

        <div class="legal-section">
            <h2 class="section-title">Security of Your Data</h2>
            <div class="section-content">
                <p>The security of your data is important to us; however, no method of transmission over the internet or method of electronic storage is 100% secure. Even though we try to use commercially acceptable means to protect your personal data, we cannot guarantee its absolute security.</p>
                
            </div>
        </div>

        <div class="legal-section">
            <h2 class="section-title">Your Rights</h2>
            <div class="section-content">
                <p>As a user, you have the right to:</p>
                <ul>
                    <li>Request access to any personal data we have collected about you.</li>
                    <li>Request correction or deletion of your personal data, except when we are legally obligated to retain it.</li>
                </ul>
            </div>
        </div>

        <div class="legal-section">
            <h2 class="section-title">Changes To The Privacy Policy</h2>
            <div class="section-content">
                <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page. You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.
<br><br>
                    If you have any questions or concerns regarding this Privacy Policy or your personal data, feel free to contact us.
                    </p>
            </div>
        </div>
    </div>
</div>
