
<!-- <h1>Check music for copyright</h1> -->

<!-- <section class="music-checker" >
 
  <form #searchForm="ngForm" (ngSubmit)="submitForm(searchForm)">

    <div class="input-group">
      <input (click)="moveUp()"  class="search-input" type="text" placeholder="Enter Song Name or Link" [(ngModel)]="search_query" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="radio-group">
      <input type="radio" id="byName" name="searchType" value="name" [(ngModel)]="searchType">
      <label for="byName" class="radio-label">By Name</label>

      <input type="radio" id="byLink" name="searchType" value="link" [(ngModel)]="searchType">
      <label for="byLink" class="radio-label">By Link</label>
    </div>

    <button type="submit" class="check-btn">
     {{ checkButtonText }}
      <div *ngIf="clicked" class="spinner"></div>
    </button> -->
    
    <!-- make the spinner next to the above button -->

<!--     
  </form>
</section> -->

<!-- <div id="resultCard" class="results" *ngIf="results.length > 0">

  <ul>
    <li *ngFor="let result of results" (click)="playSong(result.url)">
      <mat-card class="result-item">
        <img mat-card-image class="thumbnail" [src]="result.thumbnail" alt="Thumbnail" />
        <mat-card-content class="result-info">
          <h3 class="title">{{ result.title }}</h3>
          <p class="status" *ngIf="!result.license" style="color: #4caf50">
            No Copyright: <img *ngIf="!result.license" src="https://img.icons8.com/fluency/48/verified-account--v1.png" alt="verified-account--v1"/>
          </p>
          <p class="status" *ngIf="result.license" style="color: #f44336">
            Potential Copyright: <img *ngIf="result.license" src="https://img.icons8.com/ios-filled/50/FA5252/verified-account.png" alt="cancel--v1"/>
          </p>
        </mat-card-content>
        <mat-card-actions *ngIf="isLogged" align="end">
          <button mat-raised-button color="primary" class="like-button" (click)="saveMusic(result)">
            Like
            <mat-icon>thumb_up</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </li>
  </ul>
</div> -->

<!-- last checked items -->
<!-- <div class="last-checked" *ngIf="lastChecked.length > 0">
  <div class="button-container">
    <button class="gaming-button">Last Checked</button>
</div>
<br> -->
  <!-- <h2>Last Checked</h2> -->
  <!-- <ul>
    <li *ngFor="let item of lastChecked">
      <mat-card class="result-item">
        <img mat-card-image class="thumbnail" [src]="item.thumbnail" alt="Thumbnail" />
        <mat-card-content class="result-info">
          <h3 class="title">{{ item.title }}</h3>
          
        </mat-card-content>
        <mat-card-actions *ngIf="isLogged" align="end">
          <button mat-raised-button color="primary" class="like-button" (click)="saveMusic(item)">
            Like
            <mat-icon>thumb_up</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </li>
  </ul> -->
  <!-- <div>
    <mat-card class="result-item" *ngFor="let item of lastChecked">
      <img mat-card-image class="thumbnail" [src]="item.thumbnail" alt="Thumbnail" />
      <mat-card-content class="result-info">
        <h3 class="title">{{ item.title }}</h3>
      </mat-card-content>
      <mat-card-actions *ngIf="isLogged" align="end">
        <button mat-raised-button color="primary" class="like-button" (click)="saveMusic(item)">
          Like
          <mat-icon>thumb_up</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div> -->

  <!-- use pure html to populate the items -->
  <!-- <div class="music-list">
    <div class="music-item" *ngFor="let item of lastChecked">
      <div class="music-image">
        <img [src]="item.thumbnail" alt="Thumbnail" />
      </div>
      <div class="last-checked-info">
        <h3 class="music-title">{{ item.title }}</h3>
      </div>
    </div>
</div> -->
<div #targetElement class="hero-header78">
  <div class="hero-column thq-section-padding thq-section-max-width">
    <div class="hero-content1">
      <h1 class="hero-text1 thq-heading-1">{{ heading1 }}</h1>
      <p class="hero-text2 thq-body-large">{{ content1 }}</p>
    </div>
    <form #searchForm="ngForm" (ngSubmit)="submitForm(searchForm)">

        <div class="searchBar">
          <input  id="searchQueryInput" type="text" [attr.placeholder]="textinputPlaceholder" [(ngModel)]="search_query" [ngModelOptions]="{standalone: true}"/>
          <button id="searchQuerySubmit" type="submit" name="searchQuerySubmit">
            
            <svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="#666666" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
            </svg>
          </button><br> <br> <div *ngIf="clicked"  class="lds-ring"><div></div><div></div><div></div><div></div></div>
        </div>
        <div class="radio-group">
          <input type="radio" id="byName" name="searchType" value="name" [(ngModel)]="searchType">
          <label for="byName" class="radio-label">By Name</label>
    
          <input type="radio" id="byLink" name="searchType" value="link" [(ngModel)]="searchType">
          <label for="byLink" class="radio-label">By Link</label>
        </div>

    <!-- <input
      type="text"
      [attr.placeholder]="textinputPlaceholder"
      class="hero-textinput input"
      [(ngModel)]="search_query" [ngModelOptions]="{standalone: true}"
    /> -->
  </form>
  
   
    <div id="resultCard" class="results" *ngIf="results.length > 0" [ngStyle]="{'width': relatedVideos.length === 0 ? '200%' : '120%'}">
      <div class="container">
        <!-- Header Section -->
        <div class="header">
            <h2>Search result</h2>
            <p>The accuracy of finding a license of a song is 95%</p>
            <p>Time spent: {{searchTime}}s</p>
        </div>
    
        <!-- Result Section -->
        <div class="result" *ngFor="let result of results">
            <div class="icon-section">
                <img src="verified.svg" alt="Icon 1" class="icon green-icon">
                <img src="closed_caption_off.svg" alt="Icon 2" class="icon green-icon">
                <img src="money_off.svg" alt="Icon 3" class="icon red-icon">
            </div>
    
            <div  class="result-container" >
                <h2 class="result-header">Song License Status</h2>
                <div class="result-content">
                    <div *ngIf="result.license" [ngStyle]= "{'background-color': '#f08c8cb8'}" class="result-box" id="license-status" >
                        <p class="status-text">This song can not be used with-out a license</p>
                        <span class="status-icon" [ngStyle]= "{'color': 'red'}"  id="status-icon">&#10008;</span>
                    </div>
                    <div *ngIf="!result.license" class="result-box" id="license-status">
                      <p class="status-text">Usage permitted with reference to the source (Creative Commons)</p>
                      <span class="status-icon" id="status-icon">&#10004;</span>
                  </div>
                </div>
            </div>
    
            <div class="song-details">
                <p class="title"><i>{{result.title}}</i> </p>

                <div class="copy-container">
                  <!-- Copy button with SVG icon -->
                  <div class="copy-button" title="Copy" (click)="showCopiedMessage()">
                      <svg class="copy-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                          <path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/>
                      </svg>
                  </div>
              
                  <!-- Popup text for "Copied!" message -->
                  <div class="copy-popup" [class.show]="copied">Copied</div>
              </div>

            </div>
            <p class="site">Checked on the site: <a href="https://tubemusic.io">tubemusic.io</a></p>
            <div class="video-section">
                <iframe width="560" height="315" [src]="safePipe(result.url)"  frameborder="0" allowfullscreen></iframe>
            
            </div>
           
           
            <div class="feedback">
               
            <mat-card-actions >
              <button  mat-raised-button color="primary" class="like-button" (click)="saveMusic(result)">
                Like
                <mat-icon>thumb_up</mat-icon>
              </button>
            </mat-card-actions>
            </div>  
     
            
        </div>

        
    
        <!-- Feedback Section -->
        <!-- <div class="feedback">
            <mat-icon>thumb_up</mat-icon>
        </div> -->
    
        <!-- Similar Music Section -->
        <div class="similar-music" >
          <h3>There is a high probability of finding a no copyright song!</h3>
          <!-- Add the 'single-card' class dynamically if there is only one music-card -->
          <div  class="music-list single-card"> 
              <div *ngFor="let res of relatedVideos" class="music-card">
                  <img [src]="res.thumbnail" alt="music thumbnail">
                  <p>{{res.title}}</p>
                  <button class="check-button" (click)="checkVideo(res.title)">CHECK</button>
              </div>
              <!-- <div *ngIf="relatedVideos.length === 0" class="button-container">
                <span class="custom-text">Find copyright free: </span> <br>
                <span class="custom-button" (click)="checkVideo(results[0].title + ' ' + 'no copcopyright')">+no copyright</span>
                <span class="custom-button" (click)="checkVideo(results[0].title + ' ' + 'remix')">+remix</span>
                <span class="custom-button" (click)="checkVideo(results[0].title + ' ' + 'trap')">+trap</span>
                <span class="custom-button" (click)="checkVideo(results[0].title + ' ' + 'cover')">+cover</span>
                <span class="custom-button" (click)="checkVideo(results[0].title + ' ' + 'bass')">+bass</span>
                <span class="custom-button" (click)="checkVideo(results[0].title + ' ' + 'slowed')">+slowed</span>
            </div> -->
              

      
          </div>
          
        </div>
      
    </div>
            
    </div>
    <!-- <div class="hero-actions">
      <button class="thq-button-filled hero-button">
        <span class="thq-body-small">{{ action1 }}</span>
      </button>
    </div> -->
  </div>
  <button class="hero-action21 thq-button-outline thq-button-animated">
    <span class="thq-body-small">Last Checked</span>
  </button>
  <div class="hero-content2">
    <div 
      class="hero-row-container1 thq-animated-group-container-horizontal thq-mask-image-horizontal"
    >
      <div class="thq-animated-group-horizontal">
         
            <img *ngFor="let item of lastChecked" [attr.src]="item.thumbnail"
              class="hero-placeholder-image10 thq-img-scale thq-img-ratio-1-1"
            />
     
        
      </div>
    </div>
    <div
      class="hero-row-container2 thq-animated-group-container-horizontal thq-mask-image-horizontal"
    >
      <div class="thq-animated-group-horizontal-reverse">
        <!-- <img
          [attr.alt]="image7Alt"
          [attr.src]="image7Src"
          class="hero-placeholder-image22 thq-img-scale thq-img-ratio-1-1"
        />
        <img
          [attr.alt]="image8Alt"
          [attr.src]="image8Src"
          class="hero-placeholder-image23 thq-img-scale thq-img-ratio-1-1"
        />
        <img
          [attr.alt]="image9Alt"
          [attr.src]="image9Src"
          class="hero-placeholder-image24 thq-img-scale thq-img-ratio-1-1"
        />
        <img
          [attr.alt]="image10Alt"
          [attr.src]="image10Src"
          class="hero-placeholder-image25 thq-img-scale thq-img-ratio-1-1"
        />
        <img
          [attr.alt]="image11Alt"
          [attr.src]="image11Src"
          class="hero-placeholder-image26 thq-img-scale thq-img-ratio-1-1"
        />
        <img
          [attr.alt]="image12Alt"
          [attr.src]="image12Src"
          class="hero-placeholder-image27 thq-img-scale thq-img-ratio-1-1"
        /> -->
      </div>
      <div class="thq-animated-group-horizontal-reverse">
        <!-- <img
          [attr.alt]="image7Alt"
          [attr.src]="image7Src"
          class="hero-placeholder-image28 thq-img-scale thq-img-ratio-1-1"
        />
        <img
          [attr.alt]="image8Alt"
          [attr.src]="image8Src"
          class="hero-placeholder-image29 thq-img-scale thq-img-ratio-1-1"
        />
        <img
          [attr.alt]="image9Alt"
          [attr.src]="image9Src"
          class="hero-placeholder-image30 thq-img-scale thq-img-ratio-1-1"
        />
        <img
          [attr.alt]="image10Alt"
          [attr.src]="image10Src"
          class="hero-placeholder-image31 thq-img-scale thq-img-ratio-1-1"
        />
        <img
          [attr.alt]="image11Alt"
          [attr.src]="image11Src"
          class="hero-placeholder-image32 thq-img-scale thq-img-ratio-1-1"
        />
        <img
          alt="Hero Image"
          src="https://images.unsplash.com/photo-1568214379698-8aeb8c6c6ac8?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDEyfHxncmFmaWN8ZW58MHx8fHwxNzE1Nzk0OTk5fDA&amp;ixlib=rb-4.0.3&amp;w=1500"
          class="hero-placeholder-image33 thq-img-scale thq-img-ratio-1-1"
        /> -->
      </div>
    </div>
  </div>
</div>
