.free {
    color:#4caf50!important
  }
  .primary {
    color:#ffab07!important
  }
  .close {
    color:#f44336!important
  }
  .bg__green {
    background-color:#4caf50!important
  }
  .bg__grey {
    background-color:#555!important
  }
  .bg__red {
    background-color:#e76464!important
  }
  .hidden {
    display:none!important
  }
  .background-image-fit {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    max-height:160px;
    height:100%;
    background-color:#000;
    overflow:hidden
  }
  .background-image-fit img {
    width:300px;
    min-width:250px;
    max-width:350px;
    height:auto
  }
  .background-image-fit .material-icons {
    font-size:90px
  }
  .mark {
    color:#ffab07
  }
  .selection {
    background-color:#ffab07
  }
  strong {
    font-family:'Montserrat',sans-serif;
    font-weight:900
  }
  .button {
    display:inline-block;
    padding:8px 10px;
    font-family:'Roboto',sans-serif;
    font-weight:700;
    font-style:normal;
    font-size:14px;
    text-decoration:none;
    transform:skewX(-10deg);
    color:#000;
    background:#ffab07;
    border:0;
    outline:0;
    cursor:pointer
  }
  .prompt {
    position:relative
  }
  .prompt:hover::after {
    content:attr(data-title);
    position:absolute;
    top:0;
    left:50%;
    transform:translate(-50%,-100%);
    padding:5px 10px;
    background-color:#222;
    color:#fff;
    text-align:center;
    font-size:12px
  }
  .progress__circle {
    position:relative;
    min-width:120px;
    min-height:120px;
    background:#4caf50;
    border-radius:50%
  }
  .progress__circle::before {
    content:'';
    display:block;
    position:absolute;
    top:10px;
    left:10px;
    right:10px;
    bottom:10px;
    border-radius:50%;
    background-color:#fff;
    background-size:90%;
    background-position:50%;
    background-repeat:no-repeat;
    z-index:3
  }
  .progress__circle::after {
    content:'';
    position:absolute;
    top:-1px;
    left:-1px;
    right:-1px;
    bottom:-1px;
    display:block;
    border-radius:50%;
    border:2px solid #fff;
    z-index:3
  }
  .progress__circle .circle {
    width:100%;
    height:100%;
    left:0;
    right:0;
    overflow:hidden;
    position:absolute
  }
  .progress__circle .circle::before {
    content:'';
    position:absolute;
    display:block;
    width:50%;
    height:100%
  }
  .progress__circle .circle.circle__left {
    transform:rotate(0deg);
    border-radius:50%;
    z-index:2
  }
  .progress__circle .circle.circle__left::before {
    background:#222
  }
  .progress__circle .circle.circle__right {
    transform:rotate(180deg);
    border-radius:50%;
    z-index:1
  }
  .progress__circle .circle.circle__right::before {
    background:#222
  }
  .progress__circle .circle__content {
    position:absolute;
    top:50%;
    bottom:0;
    left:50%;
    right:0;
    width:90px;
    height:40px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
    text-align:center;
    transform:translate(-50%,-50%);
    z-index:3
  }
  .progress__circle .circle__content .circle__content_current,
  .progress__circle .circle__content .circle__content_limit {
    font-size:14px;
    font-weight:bold
  }
  .progress__circle .circle__content .circle__content_current {
    margin-right:5px
  }
  .over__half .circle.circle__left {
    transform:rotate(180deg)
  }
  .over__half .circle.circle__right {
    transform:rotate(360deg)
  }
  .over__half .circle__left::before {
    background:#4caf50!important
  }
  .user__noob::before,
  .user__unlogged::before {
    background-image:url('../images/user/noob.png')
  }
  .user__listener::before {
    background-image:url('../images/user/listener.png')
  }
  .user__vloger::before {
    background-image:url('../images/user/vloger.png')
  }
  .user__vlogerfe::before {
    background-image:url('../images/user/vlogerfe.png')
  }
  @keyframes rotateLogo {
    0% {
      transform:rotate(0deg);
      -webkit-transform:rotate(0deg);
      -moz-transform:rotate(0deg);
      -ms-transform:rotate(0deg);
      -o-transform:rotate(0deg)
    }
    100% {
      transform:rotate(360deg);
      -webkit-transform:rotate(360deg);
      -moz-transform:rotate(360deg);
      -ms-transform:rotate(360deg);
      -o-transform:rotate(360deg)
    }
  }
  @media(max-width:862px) {
    .background-image-fit img {
      width:350px!important
    }
  }
  html,
  body {
    height:100%
  }
  main {
    min-height:100%;
    padding:0 10px;
    background-color:#222
  }
  .studio {
    display:flex;
    padding:100px 0
  }
  .studio .studio__menu {
    min-width:210px;
    margin-right:30px;
    color:#eee
  }
  .studio .studio__menu .menu__user {
    margin-bottom:15px
  }
  .studio .studio__menu .menu__user .menu__user_character {
    margin:auto;
    width:120px;
    height:120px
  }
  .studio .studio__menu .menu__user .progress__circle::after {
    content:'';
    position:absolute;
    top:-1px;
    left:-1px;
    right:-1px;
    bottom:-1px;
    display:block;
    border-radius:50%;
    border:2px solid #222;
    z-index:3
  }
  .studio .studio__page {
    width:100%
  }
  .studio .studio__page .page__nav {
    display:flex;
    margin:0;
    padding:0;
    list-style:none;
    color:#eee
  }
  .studio .studio__page .page__nav .page__nav_item {
    position:relative;
    min-width:130px;
    max-width:300px;
    width:100%;
    margin-right:30px;
    background-color:#111
  }
  .studio .studio__page .page__nav .page__nav_item::after {
    content:'';
    position:absolute;
    top:0;
    right:-10px;
    display:block;
    width:15px;
    height:100%;
    background:#111;
    transform:skewX(10deg)
  }
  .studio .studio__page .page__nav .page__nav_item .page__link {
    display:block;
    min-width:100px;
    padding:8px;
    text-decoration:none;
    text-align:center;
    font-style:normal;
    font-size:14px;
    font-weight:bold
  }
  .studio .studio__page .page__nav .page__nav_item .page__link .material-icons {
    vertical-align:middle;
    cursor:pointer
  }
  .studio .studio__page .page__nav .nav__current {
    background:#fff;
    box-shadow:-10px 10px 0 0 #111;
    z-index:1
  }
  .studio .studio__page .page__nav .nav__current::after {
    background:#fff
  }
  .studio .studio__page .page__nav .nav__current .page__link {
    color:#222;
    white-space:nowrap
  }
  .studio .studio__page .page__body {
    position:relative;
    display:flex;
    justify-content:center;
    flex-direction:column;
    width:100%;
    min-height:500px;
    background:#fff;
    color:#222;
    box-shadow:-10px 10px 0 0 #111;
    z-index:2
  }
  .studio .studio__page .page__body .page__title {
    padding:15px 10px 0 10px;
    text-align:center
  }
  .studio .studio__page .page__body .page__description {
    margin:0;
    padding:10px;
    font-size:13px;
    color:#555;
    text-align:center
  }
  .studio .studio__page .page__body .page__iframe {
    width:auto;
    padding:10px;
    border:0
  }
  .studio .studio__page .page__intro {
    position:relative;
    display:flex;
    flex-direction:column;
    width:300px;
    margin:auto
  }
  .studio .studio__page .page__intro .page__intro_title,
  .studio .studio__page .page__intro .page__intro_description {
    z-index:2
  }
  .studio .studio__page .page__intro .material-icons {
    position:absolute;
    right:0;
    bottom:-30px;
    font-size:100px;
    color:#ddd;
    z-index:1
  }
  .studio .dashboard {
    height:100%;
    margin:10px
  }
  .studio .dashboard .dashboard__wrap {
    display:flex;
    justify-content:space-between
  }
  .studio .dashboard .dashboard__title {
    margin-bottom:10px;
    font-size:18px
  }
  .studio .dashboard .dashboard__list {
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-wrap:wrap;
    padding:0 10px;
    padding-bottom:20px
  }
  .studio .dashboard .dashboard__list>*:not(:last-child) {
    margin-right:10px
  }
  .studio .dashboard>*:not(:last-child) {
    margin-bottom:15px;
    border-bottom:3px solid #eee
  }
  .studio .dashboard .dashboard__users .progress__circle {
    min-width:90px;
    min-height:90px
  }
  .studio .dashboard .dashboard__users .progress__circle .circle__content {
    width:70px
  }
  .studio .dashboard .dashboard__users .progress__circle .circle__content>* {
    font-size:12px
  }
  .studio .dashboard .dashboard__statistic {
    margin-left:20px
  }
  .studio .dashboard .dashboard__statistic .dashboard__statistic_progress {
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin:0;
    padding:0;
    height:100%;
    color:#555;
    list-style:none
  }
  .studio .dashboard .dashboard__statistic .dashboard__statistic_progress .statistic__progress_item {
    display:flex;
    justify-content:flex-end;
    align-items:center
  }
  .studio .dashboard .dashboard__statistic .dashboard__statistic_progress .statistic__progress_item .statistic__progress_count {
    margin-right:5px;
    font-size:14px
  }
  .studio .dashboard .dashboard__statistic .dashboard__statistic_progress .statistic__progress_item .material-icons {
    font-size:22px
  }
  .studio .reward {
    position:relative;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    flex-wrap:wrap;
    padding:0 5px
  }
  .studio .reward .reward__item {
    margin:10px 20px;
    width:90px;
    cursor:pointer
  }
  .studio .reward .reward__item .reward__title {
    margin-top:5px;
    font-family:'Montserrat',sans-serif;
    font-size:14px;
    font-weight:bold;
    text-align:center;
    word-break:break-word
  }
  .studio .reward .reward__item .reward__description {
    display:none;
    font-size:14px;
    color:#555;
    text-align:center
  }
  .studio .reward .reward__item .progress__circle {
    min-width:90px;
    min-height:90px
  }
  .studio .reward .reward__item .progress__circle .circle__content {
    width:60px
  }
  .studio .reward .reward__item .progress__circle .circle__content>* {
    font-size:12px
  }
  .studio .reward .reward__active {
    width:240px
  }
  .studio .reward .reward__active .progress__circle {
    min-width:120px;
    max-width:120px;
    min-height:120px;
    margin:0 auto
  }
  .studio .settings {
    margin:10px auto;
    padding:15px;
    width:300px;
    background:#eee
  }
  .studio .settings .settings__item {
    margin-top:15px
  }
  .studio .settings .settings__item:not(:last-child) {
    padding-bottom:30px;
    border-bottom:2px dashed #ccc
  }
  .studio .settings .settings__item .settings__caption {
    margin-bottom:10px;
    font-size:16px;
    font-weight:bold;
    color:#222
  }
  .studio .settings .settings__item .settings__tariff {
    font-size:14px
  }
  .studio .settings .settings__item .settings__tariff .settings__tariff_content .material-icons {
    margin-right:5px;
    font-size:24px;
    vertical-align:middle;
    color:#555
  }
  .studio .settings .settings__item .settings__tariff a {
    font-weight:bold
  }
  .studio .settings .settings__item .settings__tariff .settings__tariff_plan {
    color:#4caf50
  }
  .studio .settings .settings__item .settings__tariff .settings__tariff_policy {
    color:#555
  }
  .studio .settings .settings__item .settings__tariff .settings__tariff_policy input {
    margin-left:0
  }
  .studio .settings .settings__item .settings__tariff .settings__tariff_cancel {
    color:#555
  }
  .studio .settings .settings__item .settings__email input {
    min-width:250px;
    max-width:300px;
    width:100%;
    padding:5px;
    height:32px;
    color:#888;
    font-size:13px;
    font-weight:bold;
    box-sizing:border-box
  }
  .studio .settings .settings__item .settings__exit {
    display:inline-flex;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    font-style:normal;
    text-decoration:none;
    color:#f44336
  }
  .studio .settings .settings__item .settings__exit .material-icons {
    margin-right:5px;
    cursor:pointer
  }
  .studio #PageLike {
    justify-content:flex-start
  }
  .panel__nav {
    display:flex;
    flex-wrap:wrap;
    margin:0;
    padding:0;
    padding-top:20px;
    list-style:none
  }
  .panel__nav .panel__nav_item {
    margin-top:10px;
    margin-right:10px
  }
  .panel__nav .panel__nav_item a {
    padding:5px 8px;
    background-color:#111;
    color:#ccc;
    font-style:normal;
    font-weight:bold;
    font-size:12px;
    text-decoration:none
  }
  .panel__nav .panel__current a {
    color:#ffe2aa
  }
  .page__full {
    width:100%;
    height:100%;
    padding:30px 0
  }
  .page__full .page__fullscreen {
    display:flex;
    flex-direction:column;
    background-color:#fff
  }
  .page__full .page__fullscreen .page__title {
    margin:0 10px;
    color:#222
  }
  .page__full .page__fullscreen .page__caption {
    margin:0 10px;
    margin-top:10px;
    margin-bottom:-5px;
    font-weight:bold;
    font-size:16px
  }
  .page__full .page__fullscreen .page__info {
    margin:5px 10px;
    font-size:13px;
    color:#555
  }
  .page__full .page__fullscreen .selection__red {
    background-color:#f44336
  }
  .page__full .page__fullscreen .message__warning {
    color:#b37b0f
  }
  .page__full .page__fullscreen .message__error {
    color:#f44336
  }
  .page__full .page__fullscreen .message__success {
    color:#4caf50
  }
  .page__full .page__fullscreen .page__period {
    display:flex;
    flex-direction:column;
    margin:0 10px;
    margin-top:10px;
    color:#555
  }
  .page__full .page__fullscreen .page__period .page__period_hours,
  .page__full .page__fullscreen .page__period .page__period_days {
    display:flex;
    justify-content:flex-end
  }
  .page__full .page__fullscreen .page__period .page__period_days {
    margin-top:5px;
    color:#888
  }
  .page__full .page__fullscreen .page__period .page__period_item {
    display:flex;
    align-items:center;
    margin-right:10px;
    font-size:14px;
    font-style:normal;
    font-weight:bold;
    text-decoration:none
  }
  .page__full .page__fullscreen .page__period .page__period_item .material-icons {
    font-size:22px;
    vertical-align:middle;
    cursor:pointer
  }
  .page__full .page__fullscreen .period__current {
    color:#4caf50
  }
  .page__full .page__fullscreen .page__table .table__content_item {
    position:relative;
    display:flex;
    justify-content:space-between;
    padding:10px 5px;
    max-height:40px;
    font-size:12px;
    border-bottom:2px solid #fff
  }
  .page__full .page__fullscreen .page__table .table__content_item:nth-child(odd) {
    background-color:#eee
  }
  .page__full .page__fullscreen .page__table .table__content_item:nth-child(even) {
    background-color:#fff
  }
  .page__full .page__fullscreen .page__table .table__content_item>* {
    max-height:32px;
    overflow:hidden
  }
  .page__full .page__fullscreen .page__table .table__content_item .table__short {
    min-width:40px;
    max-width:40px
  }
  .page__full .page__fullscreen .page__table .table__content_item .table__medium {
    min-width:90px;
    max-width:90px
  }
  .page__full .page__fullscreen .page__table .table__content_item .table__long {
    min-width:120px;
    max-width:250px;
    width:100%
  }
  .page__full .page__fullscreen .page__table .table__content_item .table__longest {
    min-width:250px;
    max-width:500px;
    width:100%
  }
  .page__full .page__fullscreen .page__table .table__content_item .material-icons {
    color:#e76464;
    font-size:18px;
    vertical-align:middle;
    text-decoration:none;
    cursor:pointer
  }
  .page__full .page__fullscreen .page__table .table__content_item input {
    cursor:pointer
  }
  .page__full .page__fullscreen .page__table .table__base {
    position:sticky;
    top:0;
    background-color:#ffe2aa!important;
    color:#222;
    font-size:12px;
    font-weight:bold;
    border:0;
    z-index:5
  }
  .page__full .page__fullscreen .page__table .table__base>* {
    width:100%;
    padding:0;
    text-align:center;
    word-break:break-all
  }
  .page__full .page__fullscreen .page__table .title__small>* {
    font-size:10px
  }
  .page__full .page__fullscreen .not__adaptive .table__content_item {
    justify-content:flex-start
  }
  .page__full .page__fullscreen .content__wrap {
    flex-wrap:wrap
  }
  .page__full .page__fullscreen .form__wrap {
    display:flex
  }
  .page__full .page__fullscreen .panel__form .panel__form_button {
    margin-left:10px;
    padding:5px 8px;
    border:0;
    outline:0;
    background-color:#222;
    color:#fff;
    font-size:10px;
    font-weight:bold;
    cursor:pointer
  }
  .page__full .page__fullscreen select {
    display:block;
    width:200px;
    margin:10px;
    padding:5px 8px;
    background:#eee;
    border-radius:5px;
    border:1px solid #aaa;
    outline:0;
    cursor:pointer
  }
  .page__analytics {
    display:flex;
    margin:0 10px
  }
  .page__analytics .page__analytics_wrap:not(:last-child) {
    margin-right:10px
  }
  .page__analytics .page__analytics_wrap .page__analytics_caption {
    position:relative;
    font-size:12px;
    font-weight:bold;
    text-align:center;
    z-index:2
  }
  .page__analytics .page__analytics_wrap .analytics__link_green {
    text-decoration:none;
    font-style:normal;
    color:#4caf50
  }
  .page__analytics .page__analytics_wrap .analytics__link_yellow {
    text-decoration:none;
    font-style:normal;
    color:#d9cb4b
  }
  .page__analytics .page__analytics_wrap .analytics__link_red {
    text-decoration:none;
    font-style:normal;
    color:#e76464
  }
  .page__analytics .page__analytics_wrap .progress__circle {
    min-width:80px;
    min-height:80px
  }
  .page__analytics .page__analytics_wrap .progress__circle .circle__content {
    width:60px;
    height:26px
  }
  .page__analytics .page__analytics_wrap .progress__circle .circle__content>* {
    font-size:10px
  }
  .page__analytics .page__analytics_wrap .progress__yellow {
    background-color:#d9cb4b
  }
  .page__analytics .page__analytics_wrap .progress__yellow.over__half .circle__left::before {
    background:#d9cb4b!important
  }
  .page__analytics .page__analytics_wrap .progress__red {
    background-color:#e76464
  }
  .page__analytics .page__analytics_wrap .progress__red.over__half .circle__left::before {
    background:#e76464!important
  }
  .page__analytics .page__analytics_wrap .progress__blue {
    background-color:#dae7ff
  }
  .page__analytics .page__analytics_wrap .progress__blue.over__half .circle__left::before {
    background:#dae7ff!important
  }
  .page__table {
    margin:0;
    margin-bottom:auto;
    padding:10px;
    list-style:none
  }
  .page__table .table__content_item {
    display:flex;
    align-items:center;
    margin:0;
    padding:10px 0;
    width:100%;
    box-sizing:border-box;
    cursor:pointer
  }
  .page__table .table__content_item:hover .table__content_image::before {
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.5);
    background-image:url('../images/icons/verify_icon.png');
    background-repeat:no-repeat;
    background-position:50%
  }
  .page__table .table__content_item:not(:last-child) {
    border-bottom:3px solid #eee
  }
  .page__table .table__content_item .table__wrap {
    display:inline-block
  }
  .page__table .table__content_item .content__box {
    display:flex;
    justify-content:space-between;
    width:100%
  }
  .page__table .table__content_item .table__content_image {
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    min-width:120px;
    height:40px;
    margin-right:15px;
    overflow:hidden
  }
  .page__table .table__content_item .table__button {
    background:#222;
    color:#fff;
    padding:8px 0;
    min-width:150px;
    font-size:14px;
    font-weight:bold;
    font-style:normal;
    text-align:center;
    text-decoration:none;
    border:0;
    outline:0;
    cursor:pointer
  }
  .page__table .table__content_item .table__intro {
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    width:100%;
    font-size:13px;
    font-weight:bold;
    color:#555
  }
  .page__table .table__content_item .table__intro .table__intro_item {
    display:flex;
    align-items:center;
    width:100px;
    cursor:default
  }
  .page__table .table__content_item .table__content_caption {
    width:400px;
    white-space:nowrap;
    text-overflow:ellipsis;
    font-size:13px;
    font-weight:bold;
    font-style:normal;
    text-decoration:none;
    color:#333;
    overflow:hidden
  }
  .page__table .table__content_item .table__content_date,
  .page__table .table__content_item .table__content_time {
    width:100px;
    color:#555;
    font-size:12px
  }
  .page__table .table__green {
    background-color:#cae7ca!important
  }
  .page__table .table__yellow {
    background-color:#ede9c4!important
  }
  .page__table .table__red {
    background-color:#ffdada!important
  }
  .page__table .table__blue {
    background-color:#dae7ff!important
  }
  .page__table .check__processing {
    position:relative
  }
  .page__table .check__processing::before {
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#fff;
    opacity:.9;
    z-index:1
  }
  .page__table .check__processing::after {
    content:'';
    position:absolute;
    top:5px;
    left:50%;
    width:40px;
    height:30px;
    background-color:#fff;
    background-image:url('../images/icons/logotype_loading.png');
    background-size:40px;
    background-repeat:no-repeat;
    background-position:50%;
    animation:rotateLogo 3s ease-in-out .5s infinite;
    -webkit-animation:rotateLogo 3s ease-in-out .5s infinite;
    z-index:2
  }
  .content__wrap {
    display:flex;
    justify-content:space-between
  }
  .user__cashier::before {
    background-image:url('../images/user/cashier.png')
  }
  .user__hacker::before {
    background-image:url('../images/user/hacker.png')
  }
  .user__pirate::before {
    background-image:url('../images/user/pirate.png')
  }
  .user__bro::before {
    background-image:url('../images/user/bro.png')
  }
  .user__story::before {
    background-image:url('../images/user/story.png')
  }
  .user__legend::before {
    background-image:url('../images/user/legend.png')
  }
  .user__runner::before {
    background-image:url('../images/user/runner.png')
  }
  .user__marathon::before {
    background-image:url('../images/user/marathon.png')
  }
  .user__ironman::before {
    background-image:url('../images/user/ironman.png')
  }
  .user__musician::before {
    background-image:url('../images/user/musician.png')
  }
  .user__boss::before {
    background-image:url('../images/user/boss.png')
  }
  #modalTags {
    width:800px
  }
  #modalTags .forecast__value {
    height:4px
  }
  #modalTags .tags__add {
    display:flex;
    flex-wrap:wrap;
    margin:15px auto
  }
  #modalTags .tags__add .tags__add_item {
    margin:2px;
    font-weight:bold;
    font-size:13px;
    cursor:pointer;
    user-select:none
  }
  #modalTags .tags__add .tags__add_item input[name="tags"] {
    display:none
  }
  #modalTags .tags__add .tags__add_item input[name="tags"]:checked+.tags__add_caption {
    background-color:#4caf50
  }
  #modalTags .tags__add .tags__add_item input[data-used='+']:checked+.tags__add_caption {
    background-color:#d9cb4b
  }
  #modalTags .tags__add .tags__add_item input[data-used='+']:not(:checked)+.tags__add_caption {
    background-color:#e76464
  }
  #modalTags .tags__add .tags__add_item input[data-channel='+']:checked+.tags__add_caption {
    background-color:#76c337
  }
  #modalTags .tags__add .tags__add_item input[data-channel='+']:not(:checked)+.tags__add_caption {
    background-color:#e76464
  }
  #modalTags .tags__add .tags__add_item .tags__add_caption {
    display:inline-block;
    padding:3px 5px;
    background-color:#DDD
  }
  #modalTags .tags__default {
    font-size:13px;
    font-family:Verdana,sans-serif;
    text-transform:lowercase;
    color:#555;
    cursor:default
  }
  #modalTags .tags__default .tags__default_item {
    display:inline-block;
    margin-top:2px;
    margin-right:2px
  }
  #modalTags .tags__default .tags__default_item .material-icons {
    font-size:10px;
    color:#e76464
  }
  #modalTags input[type="submit"] {
    display:flex;
    margin-left:auto;
    padding:8px 20px;
    background-color:#222;
    color:#fff;
    font-size:11px;
    font-weight:bold;
    border:0;
    outline:0;
    cursor:pointer
  }
  .forecast {
    position:absolute;
    bottom:-2px;
    left:0;
    height:2px
  }
  .forecast__green {
    background-color:#abd5a1
  }
  .forecast__yellow {
    background-color:#d2d381
  }
  .forecast__red {
    background-color:#cb9788
  }
  @media(max-width:862px) {
    .studio .studio__menu {
      position:fixed;
      left:0;
      bottom:0;
      display:flex;
      height:50px;
      width:100%;
      background-color:#222;
      z-index:9999
    }
    .studio .studio__menu .menu__user {
      display:none
    }
    .studio .studio__page .page__nav .page__nav_item {
      min-width:inherit
    }
    .studio .studio__page .page__nav .page__nav_item:not(.nav__current) .page__link_caption {
      display:none
    }
    .studio .studio__page .page__nav .page__nav_item .page__link {
      min-width:inherit
    }
    .studio .studio__page .page__body {
      position:relative
    }
    .studio .studio__page .page__body .page__title {
      font-size:20px
    }
    .studio .studio__page .page__body .page__description {
      font-size:12px
    }
    .studio .studio__page .page__body .page__table .table__content_item .content__box {
      display:block;
      width:100%;
      white-space:nowrap;
      text-overflow:ellipsis;
      overflow:hidden
    }
    .studio .studio__page .page__body .page__table .table__content_item .table__intro .table__intro_item {
      flex-direction:column;
      width:inherit
    }
    .studio .studio__page .page__body .page__table .table__content_item .table__button {
      min-width:120px;
      font-size:11px
    }
    .studio .studio__page .page__body .page__table .table__content_item .table__content_image {
      min-width:80px
    }
    .studio .studio__page .page__body .page__table .table__content_item .table__content_caption {
      width:100%;
      font-size:12px
    }
    .studio .studio__page .page__body .page__table .table__content_item .table__content_date,
    .studio .studio__page .page__body .page__table .table__content_item .table__content_time {
      font-size:11px
    }
    .studio .studio__page .page__body .page__table .table__content_item .table__content_date {
      width:inherit
    }
    .studio .reward .reward__item {
      margin:10px;
      width:80px
    }
    .studio .reward .reward__item .progress__circle {
      min-width:80px;
      min-height:80px
    }
    .studio .reward .reward__active {
      width:240px
    }
    .studio .reward .reward__active .progress__circle {
      min-width:120px;
      max-width:120px;
      min-height:120px
    }
    .studio .settings {
      margin:10px;
      width:initial;
      box-shadow:none
    }
    .page__full .page__fullscreen .page__period {
      margin:10px
    }
    .page__full .page__fullscreen .page__period .page__period_hours,
    .page__full .page__fullscreen .page__period .page__period_days {
      justify-content:flex-start
    }
    .page__full .page__fullscreen .page__table {
      display:table
    }
  }
  